<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Document</title>
</head>

<body>


    <div class="container mt-5 ">

        <div class="card">
            <div class="card-body">
                <!-- <div class="card-header bg-primary text-white"><%=client_id%></div> -->
                <h4 class="card-title">Gopal Namkeen</h4>

                <p class="card-text">Barcode:: <%=code%></p>
                <p class="card-text">Packed on:: <%=packed_on%></p>
                <p class="card-text">Valid for:: <%=validity%> months</p>

                <a href="#" class="card-link">Other Product</a>
                <a href="#" class="card-link">Complete Detail</a>
            </div>
        </div>



    </div>
    </div>

</body>

</html>